.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 500;
  font-style: normal;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
body{
    background-color: #070914;
    color: #e8e9f2;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Indie Flower", cursive;
}

#top{
    text-align: center;
    padding: 100px 20px 70px;
    font-family: "Cedarville Cursive", cursive;
}

#top h1{
    color: #9B8CFF;
    font-size: 80px;
}

#top p{
    color:#AEB4C7;
}

main{
    width: 80%;
    max-width: 900px;
    margin: auto;
}

main h5{
    color: #9B8CFF;
    font-size: 25px;
    margin-bottom: 5px;
    font-family: "Cedarville Cursive", cursive;
}

main p{
    color: #E8E9F2;
    margin-bottom: 40px;
    font-size: 25;
}

.down{
    border-color:#9B8CFF;
    border-style: solid;
    background-color:  #9b8cff22;
    border-radius: 50px;
    padding: 15px 20px;
    margin: 20px;
    border-width: 1px
}
.down summary{
    font-family: "Cedarville Cursive", cursive;
}
.down p{
    color: #C8CCDA;
}
.down[open]{
    border-color:  #9B8CFF;
    border-width: 3px;
}

.card{
    margin-top: 30px;
}

.gal{
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
    flex-wrap: nowrap;
}

.gali{
    background-color: #0d102078;
    border-color: #9B8CFF;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 10px;
    width: 250px;
    flex:0 0 250px;
    scroll-snap-align: center;
}

.gali img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.desc{
    color: #AEB4C7;
    text-align: center;
    padding: 10px 5px;
    font-size: 15px;
}

#muse h5{
    color: #9B8CFF;
    font-size: 25px;
    margin-bottom: 5px;
}

.gali img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #9B8CFF;
}

.gali:hover{
    border-width: 5px;
}

.star{
    position: fixed;
    width: 55px;
    height: 55px;
    z-index: -1;
    opacity: 0.7;
    animation: shoot linear infinite;
}
.star img{
    width: 100%;
    position: relative;
    z-index: 2;
}
.star::before{
    content: "";
    position: absolute;
    right: 25px;
    top: 50%;
    width: 140px;
    height: 15px;
    transform: translateY(-50%);
    background: linear-gradient(to left, #f4af5b, transparent);
    filter: blur(6px);
}

@keyframes shoot{
    from{
        transform: translate(0,0);
        opacity: 0.7;
    }
    to{
        transform: translate(110vw,20vh);
        opacity: 0;
    }
}