.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 500;
  font-style: normal;
}
body{
    background-color: #070914;
    color: #e8e9f2;
    margin: 0;
    padding: 0;
    font-family: "Cedarville Cursive", cursive;
    font-size: 20px;
}

#top{
    text-align: center;
    padding: 100px 20px 70px;
}

#top h1{
    color: #9B8CFF;
    font-size: 80px;
}

#top p{
    color:#AEB4C7;
}

main{
    width: 80%;
    max-width: 900px;
    margin: auto;
}

main h5{
    color: #9B8CFF;
    font-size: 25px;
    margin-bottom: 5px;
}

main p{
    color: #E8E9F2;
    margin-bottom: 40px;
}

.down{
    border-color:#292D48;
    border-style: solid;
    background-color:  #0D1020;
    border-radius: 50px;
    padding: 15px 20px;
    margin: 20px;
    border-width: 1px;
}
.down p{
    color: #C8CCDA;
}
.down[open]{
    border-color:  #9B8CFF;
}

.card{
    margin-top: 70px;
}

.gal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.gali{
    background-color: #0D1020;
    border-color: #292D48;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    padding: 10px;
    width: 250px;
}

.gali

